<form method="post" novalidate="novalidate">
    <h2 class="title">Frontend</h2>
    <table class="form-table" role="presentation">
        <tbody>
            <tr>
                <th scope="row"><label for="html_cache">HTML cache</label></th>
                <td>
                    <select name="html_cache" id="html_cache">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="woo_lightbox">Enable Woo product lightbox</label></th>
                <td>
                    <select name="html_cache" id="woo_lightbox">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="title">Admin</h2>
    <table class="form-table" role="presentation">
        <tbody>
            <tr>
                <th scope="row"><label for="login_screen_cover_image">Login screen Cover image</label></th>
                <td>
                    <select name="html_cache" id="login_screen_cover_image">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="login_screen_captcha">Login screen captcha</label></th>
                <td>
                    <select name="html_cache" id="login_screen_captcha">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="posts_blocks_link">Blokk link bejegyzésekben</label></th>
                <td>
                    <select name="html_cache" id="posts_blocks_link">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="all_options_link">Összes beállítás link</label></th>
                <td>
                    <select name="html_cache" id="all_options_link">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="phpinfo">PhpInfo</label></th>
                <td>
                    <select name="html_cache" id="phpinfo">
                        <option value="1">yes</option>
                        <option value="0">no</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Módosítások mentése"></p>
</form>
